.node {
  margin: 4px 0 4px 10px;

  &.node--first-indentation {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.node__content {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 5px;
  font-size: 13px;
  border-radius: 3px;
  line-height: 24px;

  &:hover {
    background-color: $color-neutral-100;
  }

  &--selected {
    background-color: $color-primary-100;
  }
}

.node__content-name {
  @extend %ellipsis;
}

.node__selected {
  margin: auto 0 auto 4px;
  color: $color-success-500;
  text-align: center;
}

.node__icon {
  color: $color-neutral-500;
  width: 15px;

  &::before {
    display: flex;
    justify-content: center;
  }
}
