.data-source-context {
  padding: 12px;
  width: 560px;
}

.data-source-context__none {
  padding: 4px;
  margin-bottom: 14px;
}

.data-source-context__none-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.data-source-context_none-description {
  font-size: 13px;
}
