.button {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  color: #fff;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  transition: padding 0.05s ease-in-out;
  vertical-align: middle;

  @include button-size(14px, 32px, 14px);
  @include button-style($color-primary-500, $color-primary-600);
  @include rounded($rounded-md);

  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
  }

  &.button--icon-only {
    @include button-size(14px, 32px, 6px);
  }
}

.button--success {
  @include button-style($color-success-500, $color-success-600);
}

.button--warning {
  @include button-style($color-warning-500, $color-warning-600);
}

.button--error {
  @include button-style($color-error-500, $color-error-600);
}

.button--ghost {
  @include button-style($white, $color-neutral-100, $color-neutral-900);

  &.button--loading::after {
    border-color: $color-neutral-900 transparent $color-neutral-900 transparent;
  }

  border-color: $color-neutral-400;
}

.button--light {
  @include button-style(transparent, $color-neutral-100, $color-neutral-900);

  &:hover,
  &:focus,
  &:active,
  &.button-loading {
    box-shadow: none;
    background-color: $color-neutral-100;
  }

  &.button--loading::after {
    border-color: $color-neutral-900 transparent $color-neutral-900 transparent;
  }

  &.active {
    background-color: $color-primary-100;
  }
}

.button--tiny {
  @include button-size(12px, 26px, 12px);

  &.button--icon-only {
    @include button-size(12px, 26px, 4px);
  }
}

.button--large {
  @include button-size(15px, 44px, 28px);

  &.button--icon-only {
    @include button-size(15px, 44px, 12px);
  }
}

.button--link {
  color: $color-primary-500;
  text-align: left;
  font-weight: 500;
  padding: 4px 0;
  border: none;
  background: none;
  vertical-align: baseline;
  height: auto;
  line-height: normal;
  border-radius: 0;
  transition: none;

  &:hover,
  &:focus,
  &:active,
  &.button--loading {
    box-shadow: none;
    background: none;
  }

  &:hover,
  &:focus {
    color: $color-neutral-900;
  }

  &.button--loading {
    color: transparent;
  }

  &.button--loading::after {
    border-color: $color-neutral-900 transparent $color-neutral-900 transparent;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    color: $color-primary-500;
  }

  &.button--icon-only {
    height: auto;
    line-height: normal;
    padding: 4px 0;
  }
}

.button__icon {
  margin: 0 2px;

  &.button--large {
    margin: 0 3px;
  }
}

.button--loading {
  position: relative;
  cursor: wait;
  user-select: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.7em;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    border: 0.25em solid;
    border-color: #fff transparent #fff transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.button--overflow {
  @extend %ellipsis;

  display: block;
}

.button--full-width {
  @include button-size(15px, 44px, 28px);

  width: 100%;
}
